# all files and folders are to be ignored...
/*

# except those following
!.gitignore
!bin
!lib
!scripts
!src
!tests
!doc.sh
!README.md
!.sofs20.pdf
!.vscode
!failed_tests
!bin/launch_tt.sh
!report.pdf
